.testimonios .espacamento {
    margin-top: 32px;
}

.testimonios header p {
    font-size: 16px;
    line-height: 28px;
}

.avaliacao h4 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 7px;
}

.testimonios footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;
}

.testimonios footer img {
    width: 86px;
    height: 86px;
}

.testimonios footer span img {
    width: 32px;
    height: 32px;

}


