.populary-options .img-japao-popular {
  background: url(../imgs/Tokyo.jpg);
  width: 312px;
  height: 360px;
}

.populary-options .img-osaka-popular {
  background: url(../imgs/Osaka.jpg);
  width: 312px;
  height: 360px;
}

.populary-options h3 {
  font-size: 28px;
  font-weight: var(--title-weigth);
  margin-top: 24px;
  margin-bottom: 24px;
}

.populary-options p {
  font-size: 20px;
  font-weight: var(--text-weigth);
  line-height: 32px;
  width: 312px;
  height: 224px;
  margin-bottom: 24px;
}

.populary-options footer .button {
  margin-bottom: 40px;
  width: 312px;
  height: 64px;
}

@media screen and (min-width: 768px) {
  .populary-options .img-japao-popular {
    background: url(../imgs/Tokyo-tablet.jpg);
    width: 648px;
    height: 452px;
  }

  .populary-options .img-osaka-popular {
  background: url(../imgs/Osaka-tablet.jpg);
  width: 648px;
  height: 452px;
}

  .populary-options p {
    font-size: 20px;
    font-weight: var(--text-weigth);
    line-height: 32px;
    width: 648px;
    height: 96px;
  }

  .populary-options .osaka {
    font-size: 20px;
    font-weight: var(--text-weigth);
    line-height: 32px;
    width: 648px;
    height: 128px;
  }
}

@media screen and (min-width: 1440px) {

    .populary-options .img-japao-popular {
    background: url(../imgs/Tokyo-desktop.jpg);
    width: 588px;
    height: 452px;
  }

  .populary-options .img-osaka-popular {
  background: url(../imgs/Osaka-desktop.jpg);
  width: 588px;
  height: 452px;
}

    .populary-cards {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    .populary-options p {
        width: 588px;
        height: 128px;
    }

    .populary-options .osaka {
        width: 588px;
        height: 128px;
    }
    
}