*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 132px;
    height: 105px;
}

h1{
    font-family: "Fjalla One";
    
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 100px;
}

fieldset{
    padding: 15px;
    border: 3px solid #cfcfcf;
    border-radius: 10px;
    margin-bottom: 15px;
}

body{
    background-color: #929292f9;
    font-family: "Work Sans", sans-serif;
    
}

legend{
    font-family: "Fjalla One";
    font-weight: bold;
    font-size: 18px;
    padding: 0px 10px;
    
}

input,select,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    border: 3px solid #cccccc;
    border-radius: 10px;
}

textarea{
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input[type="color"]{
    width: 25px;
    padding: 0px;
}

label,p{
    display: inline-block;
    margin-bottom: 10px;
}

input:invalid,
textarea:invalid,
select:invalid{
    border-color: red;
}

input:valid,
textarea:valid,
select:valid{
    border-color: green;
}

button{
    width: 100px;
    height: 50px;
    background-color: #cfcfcf;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 3px solid  #cccccc;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
}

button[type="reset"]:hover{
    background-color: red;
}