.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  color: var(--text-secondary-color);
  width: 280px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.card header {
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weigt);
}

.card header h3 {
  font-size: 40px;
  margin: 8px 0 0;
  font-weight: var(--title-weigth);
}

.card header h3 span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card.japao {
  background: url(../imgs/img-japao-mobile.png) no-repeat;
  background-size: cover;
}

.card.sanandreas {
  background: url(../imgs/img-sanandreas-mobile.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../imgs/img-paraiba-mobile.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../imgs/img-manaus-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 280px;
    height: 308px;
  }

  .card header h3 {
    font-size: 40px;
  }

  .card header h3 span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 488px;

  }

}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
